@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Poppins', sans-serif;
}

.logo {
	font-family: 'Poppins', sans-serif;
}

.category__links {
	background: linear-gradient(35deg, #494949, #313131);
}

.category__links.active {
	background: linear-gradient(to right, #f27121, #e94057);
}

.detail__buttons button {
	border: 1px solid black;
	border-radius: 5px;
	outline: none;
	font-weight: 600;
	padding: 5px 10px;
}

.detail__buttons button.active {
	background-color: black;
	color: white;
}
